<article class="content dashboard-page">
  <div *ngIf="tags">
    <div *ngFor="let tag of tags">
      <div class="col-md-6">
        <div class="row">
          <!--   <span role="button" [routerLink]="['/user', user.userId]">{{user.firstname}} {{user.lastname}}</span> -->
          <h4 class="title">{{tag.name}}<br />
          </h4>
          <p class="description text-center">
            {{tag.description}}
          </p>
        </div>

      </div>
    </div>
    <div><button type ="submit">Propose an other tag</button></div>
  </div>
</article>