<article class="content dashboard-page">
  <div class = "col-md-6" *ngIf="tags">
    <div *ngFor="let tag of tags.data | arraySort:'tag.created_at' | paginate: {itemsPerPage: 2, currentPage:page, id: '1'}">
      <div class="col-md-6">
        <div class="row">
          <!--   <span role="button" [routerLink]="['/user', user.userId]">{{user.firstname}} {{user.lastname}}</span> -->
          <h4 class="titleTag">{{tag.name}}<br />
          </h4>
          <p class="description text-center">
            {{tag.description}}
          </p>
           <a> {{tag.created_at  | date:'medium'}}</a>
        </div>
       </div>
    </div>
   </div>
  <div><button [routerLink]="['/tag']" type ="submit" class ="btn btn-primary">Propose an other tag</button></div>
 <pagination-controls  (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>
</article>