<article class="content dashboard-page">
  <form novalidate (ngSubmit)="addTag()" [formGroup]="tags">
                        <div class="form-group">
                           <div class="form-group">
                                <label for="name">
                                <span>Name</span>
                                <input type="text" class="form-control underlined" name ="name" placeholder="enter a name" formControlName="name">
                            </label>
                                <div class="has-error" *ngIf="tags.get('name').touched && tags.get('name').hasError('required')">
                                    You should enter a description !!
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="description">
                                <span>Description</span>
                                <input type="text" class="form-control underlined" name ="description" placeholder="enter a description" formControlName="description">
                            </label>
                                <div class="has-error" *ngIf="tags.get('description').touched && tags.get('description').hasError('required')">
                                    You should enter a description !!
                                </div>
                            </div>
                            <br>
                           
                            <br>

                            <div>
                                <button type="submit" class="btn btn-block btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
</article>